@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

.App {
  text-align: center;
  font-family: 'Inter', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #F6F6F6;
}

.App-header {
  padding-top: 40px;
  /* 헤더 공간을 확보하기 위해 여백을 추가 */
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #F6F6F6;
}

/* 제목 스타일 */
h1,
h2,
h3 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}